@model IEnumerable<MVCCategoriesandProductsSQL.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <div class="card text-center d-inline-block m-3 p-2 " style="width:18rem;">
            <div>
                <div class="text-center" style="height: 300px;" >
                    <img class="card-img-top  rounded w-75" src="~/img/@item.Photopath" alt="Card image cap" ;>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Fiyat=@item.Price</p>
                    <p class="card-text text-danger"> @(item.IsInStock ? "" : "Stokta yok")</p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                </div>
            </div>
           
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-trash"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-circle-info"></i></a>

        </div>
                }
        </tbody>
    </table>
